// @import url('http://fonts.cdnfonts.com/css/sofia-pro');
@import url("https://use.typekit.net/ohc5hfa.css");

$dark_blue: #0D4093;
$light_blue :rgba(13, 64, 147, 0.64);
$blue : #0162C9;
$black : #2B2C2C;
$purple : #9E80F3;


$sofia : 'Sofia Pro', sans-serif;